/**
 * Dog styles
 */

#wrapper-dogs {
	color: $white;
	text-align: center;

	h1 {
		color:black;
	
	.wrapper-dog {
		display: flex;


		.dog {
			background-color: $light;
			color: $body-color;
			border: 1px solid black;
			margin-top:10px;
			display: flex;
			flex-direction: column;
			padding: 1rem 1.5rem;

			.img-fluid {
				border-radius: 100px;
			}

			img {
				margin-bottom: 0.5rem;
			}
			h1 {
				font-size: 1.5rem;
			}

			main {
				flex-grow: 1;
			}

			p {
				font-family:cursive;
			}
			.btn {
				background-color:blue;
			}
		}

	}
}

/** Single Dog styles */
article { 
img {
	margin-bottom: 50px; 
	}
	.entry-content {
		p {
			font-family:cursive;
		}
	}
}

aside {
	.dog-info {
	background-color:black;
	color:white;
	padding:10px;
 }
}
