/**
 * Dog styles
 */

 
#hero {

		background-position: center;
 		background-repeat: no-repeat;
  		background-size: cover;
  		position: relative;
  		opacity: 0.8;

	}
	 #hero > .container {
		color:black;
		text-align: center;
		padding-bottom:10px;
	
	}

	@media (min-width:1025px) 
	{
		#hero {
			height:300px;
		}
	}