/**
 * USP styles
 */

#wrapper-story {
	background-color: $secondary;
	text-align: center;

	.col-md {
		display: flex;

		.story {
			background-color: $light;

			h1 {
				font-size: 1.5rem;
			}
		}

	}
}
