/**
 * Story styles
 */

#wrapper-story {
	background-size:cover;
	text-align: center;

	.col-md {
		display: flex;

		.story {
			background-color: $light;

			h1 {
				font-size: 1.5rem;
			}

			p {
				font-family: cursive;
			}
		}

	}
}
 